.Red
{
  width=200px;
  height=200px;
  background-color: red;
}

.Blue
{
  width=200px;
  height=200px;
  background-color: blue;
}

.Yellow
{
  width=200px;
  height=200px;
  background-color: yellow;
}
